.pagesContainer{
    #page3{
        .page3Container{
            @include flex(column,center,center,0);
            .page3Img{
                width: 30%;
                height: 30%;
                margin-top: 5%;
            }
            h1{
                font-size: 4rem;
                color: orange;
                padding: 1%;
            }
        }
    }
};

@media (max-width: 1024px){
    .pagesContainer{
        #page3{
            .page3Container{
                .page3Img{
                    width: 70%;
                    height: 70%;
                    margin-top: 10%;
                }
                h1{
                    font-size: 5rem;
                }
            }
        }
    }
}